# ==============================================================================
# Aegis IAM Enterprise Stack Environment Variables Template
# ==============================================================================
# Copiez ce fichier sous '.env' et ajustez les valeurs selon votre environnement.
# NE COMMITEZ JAMAIS DE VRAIS SECRETS DANS GIT.
# ==============================================================================

# Application & Execution Mode
ENVIRONMENT=development
DEBUG=true
LOG_LEVEL=INFO
SECRET_KEY=aegis-super-secret-key-change-me-in-production-min-32-chars!

# Server Binding
HOST=0.0.0.0
PORT=8000

# CORS & Security
CORS_ORIGINS=*
ALLOWED_HOSTS=*

# PostgreSQL 16 Relational Storage (Isolated on private 'db_net' network)
POSTGRES_USER=aegisuser
POSTGRES_PASSWORD=aegissupersecretpassword123!
POSTGRES_DB=aegis_iam_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg2://aegisuser:aegissupersecretpassword123!@postgres:5432/aegis_iam_db

# pgAdmin 4 Administration Interface (Connected to 'public_net' & 'db_net')
PGADMIN_DEFAULT_EMAIL=admin@aegis.internal
PGADMIN_DEFAULT_PASSWORD=PgAdminSecurePass2026!
PGADMIN_PORT=5050

# Portainer CE Management Interface (Isolated on 'admin_net')
PORTAINER_PORT=9000

# Redis Session & Event Bus Cache (Isolated on 'app_net')
REDIS_URL=redis://redis:6379/0

# Observability (Prometheus & Grafana)
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GF_SECURITY_ADMIN_PASSWORD=GrafanaSecureAdminPass2026!

# Aegis Engine Parameters
AUDIT_OUTBOX_BATCH_SIZE=50
PASSWORD_HASH_ITERATIONS=100000
